 <div class="user-details">
  <h1> Hello Programers! </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
   <div class="tech">
      <p style="text-align: left;"> <img alt="moun" src="https://lh3.googleusercontent.com/Z9xD1EY5zp6I3BxSkVcHw7EmF4ATVuFu6lhJDLzztcmSxwLIcqGibFdyx_lrNhLufKRwXKAvE58stow4JpfGcg" /></p>
   </div>
   <div class="tech">
     <p style="text-align: left;"> Hello. Everyone!! </p>
     <p style="text-align: left;"> I am Inconito3000 a noob programmer(I am still 9.) </p>
     <p style="text-align: left;"> Anyways I use a lot of Python, IDLE and <a href="https://www.jetbrains.com/pycharm/"> Pycharm </a>, but also Arduino.  </p>
     <p style="text-align: left;"> At last, to boast a little bit of myself (and to fill the empty space) I am fully trilingual, I can speak French, English, and Korean.  </p>
   <p style="text-align: left;"> In addition, I have a super nice and smart professor named <a href="https://ggory15.github.io"> ggory15 </a>  </p>
   <p style="text-align: left;"> Make sure to subscribe and turn post notification to <a href="https://www.youtube.com/channel/UCzbHP44KNDhVAU-jarorWNQ">his channel   </a></p>
   </div> 
</div>


  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
